<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hb.star.model.EventDao">
  	<select id="selectAll" resultType="com.hb.star.model.EventVo">
  		SELECT * FROM EVENT WHERE SUB_NO=0
  	</select>
  	<insert id="insertOne" parameterType="com.hb.star.model.EventVo">
  		INSERT INTO EVENT VALUES(EVENT_SEQ.NEXTVAL,#{title},#{content},SYSDATE,#{sub_no},#{originalfilename},#{newfilename})
  	</insert>
  	<select id="selectNo" resultType="int">
  		SELECT NO FROM (SELECT * FROM EVENT ORDER BY NO DESC) WHERE ROWNUM=1
  	</select>
  	<select id="selectList" parameterType="String" resultType="com.hb.star.model.EventVo">
  		SELECT * FROM EVENT WHERE CATEGORY=#{event}
  	</select>
  	<select id="selectOne" parameterType="int" resultType="com.hb.star.model.EventVo">
  		SELECT * FROM EVENT WHERE NO=#{no}
  	</select>
  	<select id="selectImg" parameterType="int" resultType="com.hb.star.model.EventVo">
  		select * from event where sub_no=#{no} 
  	</select>
  	<update id="updateOne" parameterType="com.hb.star.model.EventVo">
  		UPDATE EVENT SET TITLE=#{title},CONTENT=#{content},NALJA=SYSDATE,sub_no=#{sub_no},ORIGINALFILENAME=#{originalfilename},NEWFILENAME=#{newfilename} WHERE NO=#{no}
  	</update>
  	<delete id="deleteEdit" parameterType="String">
  		DELETE FROM EVENT WHERE newfilename=#{newfilename}
  	</delete>
  	<delete id="deleteOne" parameterType="int">
  		DELETE FROM EVENT WHERE NO=#{no} or sub_no=#{no}
  	</delete>
  </mapper>