<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hb.star.model.UserDao">
  	
  	<insert id="insertOne" parameterType="com.hb.star.model.UserVo">
  	INSERT INTO MEMBER VALUES (#{id},#{pw},#{name},#{birth},#{phone},#{email},#{addr},0,'GREEN',0)
  	</insert>
  	
  	<select id="selectOne" parameterType="String" resultType="com.hb.star.model.UserVo">
  	SELECT * FROM MEMBER WHERE ID=#{id}
  	</select>
  
  	<select id="login" parameterType="com.hb.star.model.UserVo" resultType="com.hb.star.model.UserVo">
  	SELECT id,pw,grade FROM MEMBER WHERE ID=#{id} AND PW=#{pw}
  	</select>
  	
  	<select id="searchid" parameterType="com.hb.star.model.UserVo" resultType="com.hb.star.model.UserVo">
  	SELECT id FROM MEMBER WHERE NAME=#{name} AND PHONE=#{phone}
  	</select>
  	
  	<update id="updateOne" parameterType="com.hb.star.model.UserVo">
  	UPDATE MEMBER SET PW=#{pw},NAME=#{name},BIRTH=#{birth},PHONE=#{phone},EMAIL=#{email},ADDR=#{addr} WHERE ID=#{id}
  	</update>
  	
  	<delete id="deleteOne" parameterType="String">
  	DELETE FROM MEMBER WHERE ID=#{value}
  	</delete>
  	
  </mapper>